<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% block content %}
<form method="post" class="mx-auto" style="width: 500px">
    <h1 class="display-2 text-light text-center">Add housings</h1>
    {% csrf_token %}
    <div class="row g-3">
        <div class="col">
            {{ form.area|as_crispy_field }}
        </div>
         <div class="col">
            {{ form.address|as_crispy_field }}
        </div>
         <div class="col">
            {{ form.cost|as_crispy_field }}
        </div>
    </div>
    <div class="text-center">
         <button type="submit" class="btn btn-dark">Enter</button>
    </div>

</form>
{% endblock %}
</body>
</html>